body {
	margin-top: 0;
	margin-bottom: 15px;
	background-image: url("../img/background.jpg");
}

img.img-fixedheight {
	max-width:100%;
    min-height:256px;
    overflow:hidden;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-60 {
	margin-top: 60px;
}

.italic {
	font-family: 'learning_curve_proregular', Arial, Helvetica, sans-serif;
	font-size: 56px;
}

ul.colored {
    list-style: none;
    padding:0;
    margin:0;
}

ul.colored li { 
    padding-left: 0.5em; 
    text-indent: -.5em;
}

ul.colored li:before {
    content: "\002022  ";
    font-size: 2em;
    color: fuchsia; /* or whatever color you prefer */
}